*~
*.bck
bin
build
_build
*.log
*.pot
*.pyc
develop-eggs
*.egg
*.EGG
*.egg-info
*.EGG-INFO
eggs
fake-eggs
repo_name
parts
{{ cookiecutter.repo_name }}/static
{{ cookiecutter.repo_name }}/assets/bower_components